#filter button, #filter input {
    padding: 6px 12px !important;
}
.rating-chooser p {
    font-weight: normal;
}
.review button {
    background: #1abc9c;
    border: none;
    color: #fff;
    padding: 6px 12px;
    text-transform: uppercase;
    margin-top: 5px;
}
.fb-comments, .fb-comments span, .fb-comments iframe[style] {
    width: 100% !important;
}
.fb-like {
    margin: 5px 0;
}
.slider.slider-horizontal {
    width: 100% !important;
}
input:disabled {
    cursor: not-allowed !important;
    background-color: #222;
}
